*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 10rem; */
    /* align-items: center; */
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand-name{
    color: aliceblue;
    font-weight: bolder;
}
.navbar{
    display: flex;
    padding: 2rem;
}
.navbar a, .login a{
    text-decoration: none;
    font: 0.5rem;
    color: azure;
}
.login button{
    background-color:aqua;
    padding: 0.5rem;
    border-color: aqua;

}
.cover1-content{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}
.get-learn button{
    height: 3rem;
    width: 10rem;
    background-color: transparent;
    border-radius: 2rem;
    color: aliceblue;
}
.get-learn #quote{
    background-color: aqua;
    border-color: aqua;
}
.hero-cover{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* flex: 0.8; */
    background-image: url("./images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.cover1-cards{
    /* flex: 0.2; */
    display: flex;
    /* width: 100%; */
    margin-top: -5rem;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    gap: 0.5rem;
    border: 2px solid yellow;
}
.peace-of-mind{
    height: 10rem;
    width: 20rem;
    z-index: 1000;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.container-cards2{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;

}
.peace-of-mind2{
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
    margin-top: 8rem;
    padding: 1rem;
    justify-content: space-between;
    /* align-content: center; */
}
.page-two{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.users{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border: 2px solid black;
}
.user1, .user2, .user3{
    height: 100%;
}
/* .user1-image, .user2-image, .user3-image{
    height: 0.1rem;
    width: 1rem;
} */